################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyBookStore/.vs/MyBookStore
/MyBookStore/MyBookStore/bin/Debug/netcoreapp3.1
/MyBookStore/MyBookStore/obj
